@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Inter", sans-serif;
    font-family: "Abhaya Libre", serif; */
}
section{
    padding: 0 20px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

body {
    background-color: #0D1323;
}

section {
    max-width: 1336px;
    margin: 0 auto;
}

.title-h2 {
    font-family: "Abhaya Libre", serif;
    font-size: 2.75rem;
    font-weight: 500;
    background: linear-gradient(rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.sub-title {
    font-family: "inter", sans-serif;
    font-size: 1rem;
    font-weight: 300;

}

.p-type-1 {
    font-weight: 300;
    font-family: "inter", sans-serif;
    font-size: 1rem;
    color: #ffffff;
}

.p-type-2 {
    font-weight: 300;
    font-family: "inter", sans-serif;
    font-size: 0.875rem;
    line-height: 145%;
    color: #ffffff;
}

.switcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.switcher-title {
    margin: 25px 0px;
}

.switcher-title p {
    text-transform: uppercase;
    margin-bottom: 3px;
    text-align: center;
    color: #A2C4E2;
    letter-spacing: 2.5px;
}

.switcher-title h2 {
    text-align: center;

}

.switcher-bar button {
    font-family: "inter", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
    padding: 17px 45px;
    background-color: transparent;
    border: none;
}

.switcher-bar button.focus {
    background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(117, 121, 131, 1) 83%);
    color: #000000;
    border-radius: 30px;
}

.tab-button,
#demo,
.tab-More-button {
    cursor: pointer;
}

.switcher-bar {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 73px;
    padding: 5px 5px;
    /* inline-size: max-content; */
}

.tab-content .tab {
    height: 1px;
    margin-top: 0;
    max-width: 1156px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.9s ease-in-out;

}

.content {
    display: flex;

}

.tab-content {
    position: relative;

}

.tab-content .tab.active {
    height: fit-content;
    margin-top: 140px;
    opacity: 1;
    visibility: visible;
}

.tab-More-button {
    border: 1px solid #EFF6FA;
    background: transparent;
    border-radius: 75px;
    font-weight: 500;
    vertical-align: middle;
    color: #ffffff;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 23px 30px;
    display: flex;
    align-items: center;
    gap: 17px;
    margin-top: 19px;
}

.box-info {
    width: 41%;
}

.tab1-2nd-box {
    width: 60%;
    display: flex;
}

.img-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 80px;
    width: 100%;
}

.img-box4 {
    padding-left: 150px;
}

.diamond-img {
    width: 360px;
    margin-top: -120px;
}

.diamond-img2 {
    width: 360px;
    margin-top: -26px;
}

.diamond-img3 {
    width: 280px;
    margin-top: -186px;
}

.img-box span {
    margin-top: 20px;
}

.shadow-bg {
    position: absolute;
    width: 400px;
    height: 400px;
    margin-top: -50px;
    background: #0D1323;
    mix-blend-mode: plus-lighter;
    filter: blur(117.5px);
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.radio-container {
    width: 100px;
    align-items: end;
    justify-content: center;
    gap: 30px;
}

.radio-container input,
label {
    cursor: pointer;
}

.radio-container label {
    color: #A9AEB3;
    display: flex;
    align-items: center;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    column-gap: 15px;
}

input:checked {
    color: red;
}

#demo {
    background: linear-gradient(180deg, #FFFFFF 0%, #757983 99.99%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 14px 10px 30px;
    gap: 20px;
    font-weight: 700;
    font-family: "inter", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 80px;
    border: none;
}

.lastbtn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#demo div {
    background: #BDBEC0;
    box-shadow: inset -1px -1px 4px #98999A, inset 16px 16px 15px rgba(11, 11, 10, 0.24);
    border-radius: 50%;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
}



.box-info2 {
    width: 42%;
}






input {
    visibility: hidden;
    position: absolute;
}

input[type=radio]+label:before {
    margin-right: 2px;
    content: " ";
    display: inline-block;
    vertical-align: baseline;
    box-sizing: border-box;
    width: 21px;
    height: 21px;
    border: 1px solid #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;

}

input[type=radio]:checked+label {
    color: white;
}

input[type=radio]:checked+label:before {
    background: rgb(255, 255, 255);
}

input[type=radio]+label:before {
    border-radius: 50%;
}
.tab-content{
    padding: 0 50px;
}
@media(max-width:1154px) {
    .title-h2 {
        font-size: 2.4rem;
        line-height: 38px;
    }

    .tab-More-button {
        padding: 18px 30px;
        font-size: 0.8rem;
    }



    .diamond-img {
        width: 330px;
        margin-top: -120px;
    }
    
    .diamond-img2 {
        width: 330px;
        margin-top: -26px;
    }
    
    .diamond-img3 {
        width: 230px;
        margin-top: -136px;
    }
    .radio-container{
        row-gap: 20px;
    }
    input[type=radio]+label:before {
        width: 17px;
        height: 17px;
    }
    .radio-container label{
font-size: 0.87rem;
    }
}

@media(max-width:1048px) {
    .title-h2 {
        font-size: 2.2rem;
        line-height: 38px;
    }
    .p-type-2 {
        font-size: .8rem;
    }
    .tab-More-button{
        font-size: .7rem;
    }

}
@media(max-width:945px) {
    .content{
        flex-direction: column-reverse;
        row-gap: 40px;
    }
    .box-info{
        width: 100%;
    }
    .tab1-2nd-box{
        width: 100%;
        flex-direction: column;
        row-gap: 30px;
    }
    .flex-column{
        flex-direction: row;
    }
    .radio-container{
        width: 100%;
    }
    .radio-container label{
        flex-direction: row-reverse;
        column-gap: 8px;
    }
    .img-box{
        padding-left: 0;
    }
}


@media (max-width:562px) {
    .switcher-bar button{
padding: 14px 35px;
    }
}