@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Inter", sans-serif;
    font-family: "Abhaya Libre", serif; */
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

body {
    background-color: #0D1323;
}

section {
    max-width: 1336px;
    margin: 0 auto;
}

.title-h2 {
    font-family: "Abhaya Libre", serif;
    font-size: 2.75rem;
    font-weight: 500;
    background: linear-gradient(rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.sub-title {
    font-family: "inter", sans-serif;
    font-size: 1rem;
    font-weight: 300;

}

.p-type-1 {
    font-weight: 300;
    font-family: "inter", sans-serif;
    font-size: 1rem;
    color: #ffffff;
}

.p-type-2 {
    font-weight: 300;
    font-family: "inter", sans-serif;
    font-size: 0.875rem;
    line-height: 145%;
    color: #ffffff;
}

.switcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.switcher-title {
    margin: 25px 0px;
}

.switcher-title p {
    text-transform: uppercase;
    margin-bottom: 3px;
    text-align: center;
    color: #A2C4E2;
    letter-spacing: 2.5px;
}

.switcher-title h2 {
    text-align: center;

}

.switcher-bar button {
    font-family: "inter", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
    padding: 17px 45px;
    background-color: transparent;
    border: none;
}

.switcher-bar button.focus {
    background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(117, 121, 131, 1) 83%);
    color: #000000;
    border-radius: 30px;
}

.switcher-bar {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 73px;
    padding: 5px 5px;
    /* inline-size: max-content; */
}

.tab-content .tab {
    height: 1px;
    margin-top: 0;
    max-width: 1156px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.9s ease-in-out;
   
}
.content {
    display: flex;

}
.tab-content{
    position: relative;
  
}
 .tab-content .tab.active {
    height:fit-content;
    margin-top: 140px; 
    opacity: 1;
    visibility: visible;
} 

.tab-More-button {
    border: 1px solid #EFF6FA;
    background: transparent;
    border-radius: 75px;
    font-weight: 500;
    vertical-align: middle;
    color: #ffffff;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 23px 30px;
    display: flex;
    align-items: center;
    gap: 17px;
    margin-top: 19px;
}

.box-info {
    width: 41%;
}

.tab1-2nd-box {
    width: 60%;
    display: flex;
}

.img-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 50px;
}

.diamond-img {
    width: 66%;
    margin-top: -120px;
}

.img-box span {
    margin-top: 20px;
}

.shadow-bg {
    position: absolute;
    width: 400px;
    height: 400px;
    margin-top: -50px;
    background: #0D1323;
    mix-blend-mode: plus-lighter;
    filter: blur(117.5px);
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.radio-container {
    width: 200px;
    align-items: end;
    justify-content: center;
    gap: 20px;
}

.radio-container label {
    flex-direction: row-reverse;
    color: #A9AEB3;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    column-gap: 15px;
}

input:checked {
    color: red;
}

#demo {
    background: linear-gradient(180deg, #FFFFFF 0%, #757983 99.99%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 14px 10px 30px;
    gap: 20px;
    font-weight: 700;
    font-family: "inter", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 80px;
    border: none;
}

.lastbtn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#demo div {
    background: #BDBEC0;
    box-shadow: inset -1px -1px 4px #98999A, inset 16px 16px 15px rgba(11, 11, 10, 0.24);
    border-radius: 50%;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
}
.diamond-img2{
    width: 67%;
    margin-top: -26px;
}
.box-info2{
    width: 42%;
}